
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Transação</th>
        <th scope="col">Ordem de Pagamento</th>
        <th scope="col">Valor</th>
        <th scope="col">ID do Cliente</th>
        <th scope="col">Cliente</th>
        <th scope="col">Cartão</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pagamentos">
        <th scope="row">{{p.transacao}}</th>
        <td>{{p.id}}</td>
        <td>{{p.valor}}</td>
        <td>{{p.cliente}}</td>
        <td>{{p.nome}}</td>
        <td>{{p.cartao}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- payload
{
  --- "id":1,
  --- "transacao":30001,
  --- "valor":300.33,
  --- "cliente":1,
  --- "nome":"Cliente Amex",
  --- "cartao":"312312345678901"
} -->


